body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 60px;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana, serif;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 13px 14px;
    margin-left: -5px;
}

input {
    border: 1px solid #b6b6b6;
    padding: 12px 14px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    m/* argin-right: -5px; */
}


/* Header */

.fixed-header {
    position: fixed;
    /* elegimos su posicion para que la mantenga y los elementos no esten sobrepuestos o transparenten */
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    font-family: sans-serif;
}


/* el asterisco es par que diga que a todos lo que tenga header aplica el inline-block */

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

header>nav>ul>li {
    display: inline;
    margin: 0 25px 0;
}

.logo {
    width: 15%;
}

.logo img {
    width: 15%;
}

.navbar {
    text-align: center;
    color: #025157;
    font-weight: 500;
    background-color: #fffbf7;
}

.actions {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}


/* Parte central */

.main {
    margin-top: 285px;
    text-align: center;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.publish {
    margin-left: 30px;
}

.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish>form {
    display: flex;
}

.publish>form p {
    color: #8b8b8bcc;
    margin-right: 10px;
    display: block;
}


/* .success {
    display: flex;
    align-items: center;
    background-color: #a1d683;
}

.success .text-view {
    flex: 2;
    padding: 5% 10%;
    margin: 20px;
}

.success .text-view h2 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    color: #025157;
}

.success .text-view p {
    font-size: 20px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 50px;
}

.success .text-view button {
    padding: 10px 20px;
    border-radius: 5px;
    height: 80px;
    font-size: 25px;
}

.success .text-view img {
    width: 100%;
}

.success .stories {
    flex: 1;
    margin: 80px;
    background-color: #fff;
    border-radius: 5px;
}

.success .stories .card-image {
    position: relative;
    margin-top: 0;
    padding: 0;
}

.success .stories .card-image .card-company {
    position: absolute;
    background-color: #f9da73;
    border-radius: 50%;
    width: 30%;
    height: 20%;
    bottom: -40px;
    right: 50px;
    max-width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.success .stories .card-body {
    padding: 30px;
}

.success .stories .card-body h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    margin-bottom: 30px;
    color: #025157;
}

.success .stories .card-body p {
    font-family: "Alegreya", serif;
    color: #025157;
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 1;
}

.success .stories .card-footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
} */

.features {
    background-color: #025157;
    padding: 5% 10%;
    /* para poder usar grid */
    display: grid;
    /* cada columna tendra un espacion de 300px */
    /*forma larga, cada 300px es una columna, forma corta pones la cantidad de columnas que seran y su tamaño */
    /* grid-template-columns: 300px 300px;
       /*  grid-template-columns: repeat(2, 300px); */
    /* fr (fracción) que se encarga de calcular dinámicamente el espacio disponible y dividirlo entre los diversos elementos. */
    /* estamos definiendo 2 columnas, la primera con un ancho fijo de 500px y la segunda columna con el resto de espacio disponible en la pantalla. */
    /* grid-template-columns: 500px 1fr; */
    /* Declarando que cada columna ocupe una fracción del espacio disponible, hacemos que cada una ocupe la mitad del espacio disponible, 
        de esta manera si tuviéramos cuatro columnas cada una con el ancho de 1fr,
         cada columna estará tomando un ancho del 25% del espacio disponible o 1/4 (depende de que notación les guste y entiendan mejor). */
    /* grid-template-columns: 1fr 1fr; */
    /* se puede hacer de la forma corta */
    /* grid-template-columns: repeat(2, 1fr); */
    /* altura que tendra el contenedor (cada una de las filas), como tendremos 2 filas hara la division de cada una de ellas teniendo 330 cada una */
    /* height: 660px; */
    /* hace lo mismo que el anterior pero en lugar de columna sera en filas */
    /* grid-template-rows: repeat(2, 1fr); */
    /* forma corta, columna, fila y areas (no aplica aqui) */
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    /*  */
}

.flex-card {
    margin: 15px 30px;
    background-color: #fff;
    border: 1px solid #f5d8d8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.content {
    padding: 30px 30px;
    flex: 2;
}

.content * {
    margin-bottom: 15px;
}

.content img {
    width: 50px;
}

.content h3 {
    font-size: 20px;
    color: #000000;
    font-weight: 100;
}

.content p {
    font-size: 15px;
    color: #656464;
    font-weight: 100;
}

.content a {
    font-size: 15px;
    color: #67b54b;
    font-weight: 700;
    text-decoration: none;
}

.features-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.features-image figure,
.features-image img {
    margin: 0;
    height: 90%;
}

.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.success-stories .overview {
    flex: 2;
    padding-right: 100px;
}

.success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

.success-stories .overview img {
    width: 500px;
    max-width: 100%;
}

.card {
    max-width: 370px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
}

.card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: "Alegreya", serif;
}

.card-body h3 {
    font-family: "Alegreya", serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.results {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.results img {
    width: 26px;
    margin-right: 20px;
}

.results p {
    margin: 0;
    font-family: "Alegreya", serif;
}

.card-footer {
    background-color: #ffffff;
    color: #fff;
    border: none;
}

.card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    color: #fff;
}


/* Con object-fit, hacemos que la imagen se ajuste a la medida de su contenedor y limitamos su alto */

.card img {
    max-height: 30vh;
    object-fit: cover;
}


/* Agregamos position: relative para recibir un elemento con position:absolute más adelante */

.card-body {
    max-width: 370px;
    width: 100%;
    position: relative;
    padding: 40px 15px 15px;
}

.card-circle {
    display: flex;
    align-items: center;
    position: absolute;
    top: -45px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
}


/* Cada círculo tiene su propio color. Verifica qué significa este selector: .card-circle.everly */

.card-circle.everly {
    background-color: #f9da73;
}

.card-circle.summit {
    background-color: #81d742;
}

.card-circle.mambe {
    background-color: #ef7179;
}


/* Los círculos deben recibir la imagen y ajustarla al tamaño */

.card-circle.everly img,
.card-circle.summit img,
.card-circle.mambe img {
    object-fit: contain;
    width: 100%;
}


/** dispositivos móviles en vista viewport (vertical) */

@media (max-width: 575px) {
    /* .navbar,
    .actions {
        display: none;
    } */
    .main {
        margin-top: 130px;
    }
    h1 {
        font-size: 30px;
    }
    .banner>img {
        width: 100%;
    }
    .publish>form {
        flex-direction: column;
    }
    .publish>form>div {
        height: 50px;
        margin-top: 10px;
    }
    .publish>form>div>input {
        width: 65%;
    }
    .promo {
        flex-direction: column;
        max-width: 90%;
    }
    .explanatory-video>video {
        width: 100%;
    }
    .publish {
        margin-top: 10px;
    }
    .publish>h3 {
        font-size: 25px;
        line-height: 1.2;
    }
    .features {
        /* 4 filas, toman el espacio que tienen disponible */
        grid-template: repeat(4, 1fr) / 1fr;
        padding: 0;
    }
    .features-image {
        /* height: 30%;
        left: -15px; */
        display: none;
    }
    .success-stories {
        flex-direction: column;
    }
}


/** dispositivos pequeños en vista landscape (horizontal) */

@media (min-width: 576px) and (max-width: 767px) {}


/** dispositivos medianos (tablets) */

@media (min-width: 768px) and (max-width: 991px) {}


/** dispositivos grandes (desktops) */

@media (min-width: 992px) and (max-width: 1199px) {}


/** dispositivos extra grandes (monitores grandes, tvs) */

@media (min-width: 1200px) {}